*.x
*.o
.vscode/
*.nfs*
*.txt
*.zip
esercizio2.1c/
Esperimento/
Appro/
adcazzum/
adcazzum/*
adcazzum/**
lib/
lib/*
lib/**
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
.vscode/settings.json
*.png
*.dat
*.eps